@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&family=Montserrat:wght@100;200;400&family=Nanum+Gothic:wght@400;700&family=Water+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Mixin para flex-center */
/* Mapa para los colores generales del sitio, para bg y letras */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #fff7ec; }

header img {
  height: 4vh;
  width: auto;
  padding: 0%; }

header h1 {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #fff7ec;
  text-decoration: none; }

header a {
  width: 45%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #fff7ec;
  text-decoration: none;
  padding: 1vh; }

.logo {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vh; }
  .logo a {
    width: 10vh; }
  .logo h1 {
    margin: 0; }

.navegador {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center; }

a:hover {
  color: gray; }

.footer {
  width: 100%;
  height: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #fff7ec;
  padding-top: 1%; }

/* Estilos */
.galeria-index, .galeria-serv {
  background-image: linear-gradient(to bottom, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fdf4e9, #fbf2e5, #f9efe2, #f5e9da, #f0e3d3, #ecdecb, #e7d8c4);
  width: 100%;
  height: 42vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25vh; }
  .galeria-index .card, .galeria-serv .card {
    width: 42vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s; }
    .galeria-index .card img, .galeria-serv .card img {
      width: 100%;
      height: 95%;
      filter: grayscale(1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .galeria-index .card img:hover, .galeria-serv .card img:hover {
        filter: none; }
    .galeria-index .card:hover, .galeria-serv .card:hover {
      transform: scale(1.1, 1.1); }
    .galeria-index .card h3, .galeria-serv .card h3 {
      background-color: #191919;
      color: #fff7ec;
      width: 100%;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }

/*Galeria para Servicios y Nuestros Trabajos*/
.galeria-serv {
  height: 91.5vh;
  gap: 5vh; }

/* Nosotros */
.main-nos {
  height: 91.5vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fdf4e9, #fbf2e5, #f9efe2, #f5e9da, #f0e3d3, #ecdecb, #e7d8c4);
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #191919; }
  .main-nos .foto-nos, .main-nos .text-nos {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%; }
    .main-nos .foto-nos img, .main-nos .text-nos img {
      height: 60vh;
      border-radius: 10px;
      margin: 5vh; }
  .main-nos .text-nos {
    justify-content: end;
    font-size: 2rem; }
    .main-nos .text-nos span {
      font-style: italic;
      font-weight: bold; }

/* Contacto */
.contacto {
  height: 91.5vh;
  background-image: linear-gradient(to bottom, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fdf4e9, #fbf2e5, #f9efe2, #f5e9da, #f0e3d3, #ecdecb, #e7d8c4);
  display: flex;
  align-items: center;
  justify-content: center; }
  .contacto .form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh; }
    .contacto .form .form-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3vh; }
      .contacto .form .form-2 div .datos, .contacto .form .form-2 div .consulta, .contacto .form .form-2 div .boton {
        background-color: #191919;
        color: #fff7ec;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40vh;
        height: 3vh;
        border-radius: 10px;
        border-style: none;
        transition: transform 0.5s; }
        .contacto .form .form-2 div .datos:hover, .contacto .form .form-2 div .consulta:hover, .contacto .form .form-2 div .boton:hover {
          transform: scale(1.1, 1.1); }
      .contacto .form .form-2 div .consulta {
        height: 15vh;
        width: 60vh; }
      .contacto .form .form-2 div .boton {
        width: 10vh; }
  .contacto .mapa {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh; }
    .contacto .mapa iframe {
      border-radius: 10px;
      transition: transform 0.5s; }
      .contacto .mapa iframe:hover {
        transform: scale(1.1, 1.1); }
