.footer {
    width: 100%;
    height: 3.5vh;
    @include flex-row-center;
    background-color: map-get($colores , black );
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: map-get($colores , white );
    padding-top: 1%;
}