.footer {
    width: 100%;
    height: 3vh;
    @include flex-rox-center;
    color: map-get($colores , dark );
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: map-get($colores , white );
    padding-top: 1%;
}