@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&family=Montserrat:wght@100;200;400&family=Nanum+Gothic:wght@400;700&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@mixin flex-row-center{
	display:flex;
	justify-content:center;
  align-items: center;
}



$colores: (
  black: #191919,
  white:#fff7ec,
  bg: linear-gradient(to bottom, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fdf4e9, #fbf2e5, #f9efe2, #f5e9da, #f0e3d3, #e7d8c4, #d6c4ac)
);

@import "_header";
@import "_footer";

/* Estilos */

.galeria-index {
  background-image: map-get($colores, bg );
  width: 100%;
  height: 42vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25vh;
  .card {
    width: 42vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s;
    img {
      width: 100%;
      height: 95%;
      filter: grayscale(1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      &:hover{
        filter: none;
      }
    }
    &:hover{
        transform: scale(1.1,1.1);
    }
    h3 {
        background-color: map-get($colores , black ); 
        color: map-get($colores, white );
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;   
    }
  }
}

/* Servicios */

.galeria-serv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 91.5vh;
  width: 100%;
  background-color: map-get($colores, bg );
  gap: 5vh;
  font-family: 'Montserrat', sans-serif;
  .card-serv {
    height: 70vh;
    width: 22%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    img {
      height: 35vh;
      width: 42vh;
    }
    h3 {
      font-weight: bolder;
      padding-top: 2vh;
    }
    p {
      padding: 2%;
    }
    }
  }


/* Galeria Nuestros Trabajos */

.galeria-obras {
  @extend .galeria-index;
  height: 91.5vh;
  gap: 5vh;
}

/* Nosotros */

.main-nos {
  height: 91.5vh;
  width: 100%;
  background-image: map-get($colores, bg );
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: map-get($colores , black );
  .foto-nos {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    img{
      height: 61vh;
      border-radius: 10px;
      margin: 5vh;
    } 
  }
  .text-nos {
    @extend .foto-nos;
    justify-content: end;
    font-size: 1.9rem;
    span{
      font-style: italic;
      font-weight: bold;
    }
  } 
}

/* Contacto */

.root {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: map-get($colores, bg );
}

.contacto {

  // width: 100%;
 
  margin-top: 20vh;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  .formulario {
    @include flex-row-center;
  }
  .form {
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    .form-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3vh;
      div{
        .datos {
          background-color: map-get($colores, black );
          color: map-get($colores, white );
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 40vh;
          height: 3vh;
          border-radius: 10px;
          border-style: none;
          transition: transform 0.5s;
          &:hover {
            transform: scale(1.1,1.1);
          }
        }
        .consulta {
          @extend .datos;
          height: 15vh;
          width: 60vh;
        }
        .boton {
          @extend .datos;
          width: 10vh;
        }
      }
    }

  }
  .mapa {
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    iframe {
      border-radius: 10px;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.1,1.1);
    }
    }
  }
}